.userChoice {
  width: 90%;
  margin-top: 1vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__buttons {
    border: 1px solid rgba(46, 2, 73, 0.3);
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: rgba(46, 2, 73, 0.3);
<<<<<<< HEAD
    padding: 0 1rem;
    font-size: 1.3rem;
=======
    padding: 0.8vw;
    font-size: 1.5vw;
>>>>>>> 087b01f (refactor/form-block)
    cursor: pointer;
    background-color: inherit;
    transition: background-color 0.5s ease;
    margin: 0.2vw;
    outline: none;

    &:hover {
      background-color: #2e02498f;
      color: white;
      transition: background-color 0.5s ease, transform 0.5s ease;
    }

    &:active {
      transition: background-color 0.5s ease, transform 0.5s ease;
    }
  }

  .active {
    background-color: #2E0249;
    color: white;
  }
}