@import "../../../../styles/vars";

@mixin gradientAnimation($start, $end, $transTime, $exclude: null, $include: null) {
  background-size: 100%;
  background-image: '';
  position: relative;
  z-index: 100;

  &:before {
    background-image: linear-gradient($start, $end);
    border-radius: 9px;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity $transTime ease;
  }


  @if $exclude {

    &:not(#{$exclude}):hover,
    &:not(#{$exclude}):active {
      &:before {
        opacity: 1;
      }
    }
  }

  @else {

    &:hover,
    &:active {
      &:before {
        opacity: 1;
      }
    }
  }

  @if $include {

    // Add the linear-gradient to specified selectors
    & #{$include}:before {
      opacity: 1;
    }
  }
}

.userChoice {
  width: 90%;
  margin-top: 1vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media all and (min-width: 768px) and (max-width: 1024px) {
    margin-top: 2.5vh;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__buttons {
    @include gradientAnimation($hoverPurpleLite, $hoverPurpleDark, .4s, null, '.active');

    border: 1px solid rgba(46, 2, 73, 0.3);
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: rgba(46, 2, 73, 0.3);
    padding: 0.8vw;
    font-size: 1.5vw;
    cursor: pointer;
    background-color: inherit;
    margin: 0.2vw;
    outline: none;
    transition: color 0.3s ease;

    @media all and (min-width: 768px) and (max-width: 1024px) {
      font-size: 3.5vw;
      margin: 0.6vw;
    }

    @media all and (min-width: 300px) and (max-width: 768px) {
      padding: 2.8vw;
      font-size: 5.5vw;
      margin: 0.6vw;
    }

    &:hover {
      color: white;
      transition: transform 0.3s ease, color 0.3s ease;
    }

    &:active {
      transition: transform 0.3s ease, color 0.3s ease;
    }
  }

  .active {
    background-image: $activePurpleGradient;
    color: white;
  }
}