.wrapper {
  opacity: 1 !important;
  position: fixed;
  bottom: 17% !important;
  right: 2.2%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 11001;
  overflow: hidden;

  .flags {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mask-image: linear-gradient(to top left, transparent 30%, black 32%);
    mask-size: 200%;
    transition: mask-position 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;

    &:hover {
      mask-position: 100% 100%;
      opacity: 0;
    }
  }
}
