.wrapper {
  opacity: 0.6 !important;
  position: fixed;
  bottom: 17%;
  right: 2.2%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 11001;
  overflow: hidden;
  border: 1px solid white;
  color: white;
  border-radius: 10px;

  @media all and (min-width: 480px) and (max-width: 1179px) {
    bottom: auto;
    right: 38%;
  }

  @media all and (max-width: 480px) {
    right: 26%;
    bottom: auto;
    width: 16%;
    height: 8%;
  }

  .flags {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-mask-position: 100% 100%;
    mask-position: 100% 100%;
    -webkit-mask-image: linear-gradient(to bottom right, transparent 30%, black 40%);
    mask-image: linear-gradient(to bottom right, transparent 30%, black 40%);
    -webkit-mask-size: 200% 5%;
    mask-size: 200% 5%;
    transition: -webkit-mask-position 0.3s ease-in-out, mask-position 0.3s ease-in-out;
    background-size: 150%;
    background-position: 50%;
    background-repeat: no-repeat;

    & .ua {
      background-image: url('../../../public/images/flags/ua.svg');
    }

    & .en {
      background-image: url('../../../public/images/flags/gb.svg');
    }

    & .ua:first-child {
      transition: 0.7 opacity;
      opacity: 0;
    }

    & .en:last-child {
      transition: 0.7 opacity;
      opacity: 0;
    }

    @media (hover: hover) {
      &:hover {
        -webkit-mask-position: 0% 0%;
        mask-position: 0% 0%;
      }
    }
  }
}