@import '../../styles/vars';

.background {
	background-image: url('../../assets/bannerBlock/background.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 900px;
	width: 100%;
	display: flex;
	position: relative;
}

.leftBlock {
	background-image: url('../../assets/bannerBlock/leftsSde.png');
	width: 100%;
	background-size: 70% 100%;
	background-repeat: no-repeat;
}

.info {
	padding: 100px 0 100px 65px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.rightBlock {
	background-image: url('../../assets/bannerBlock/rightSide.png');
	height: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
}

.title {
	@include title;
	width: 360px;
}

.button {
	width: 330px;
    height: 40px;
    border: none;
    border-radius: 92px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
	cursor: pointer;
	background-color: $bgColor;
	color: #D6DFEA;
	transition: transform 0.2s ease-in-out;

	&:hover {
		transform: scale(1.1);
	}
}

.nav {
	padding-top: 50px;
}

.menu {
	display: flex;
	justify-content: space-around;

	&__item {
		font-weight: 700;
		color: white;
		margin-right: 50px;
		font-size: calc(7px + 16 * (100vw / 1280));
		cursor: pointer;
		transition: color 0.5s ease;

		&:hover {
			color: #950000;
		}
	}
}


.backgroundContainer {
	height: 100vh;
	position: relative;
}

.leftBackground {
	background-image: url('../../assets/bannerBlock/leftSide.svg');
	width: 100%;
	height: 100%;
	background-size: 70% 100%;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 10;
}

.rightBackground {
	background-image: url('../../assets/bannerBlock/rightSide.png');
	height: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
}

.mainBackground {
	background-image: url('../../assets/bannerBlock/background.png');
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	display: flex;
	position: relative;
}







