@import '../../shared/styles/vars';

.background {
	background-image: url('../../../public/images/bannerBlock/background.svg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 900px;
	width: 100%;
	display: flex;
	position: relative;
}

.backgroundContainer {
	position: relative;
	height: 54vw;

	.mainBackground {
		display: flex;
		position: relative;
		height: 100%;
		width: 95%;
		margin: auto;
		background-image: $BgImage;
		background-size: 100%;
		background-repeat: no-repeat;

		@media all and (max-width: 1024px) {
			background-color: $secondBg;
			border-radius: 10px;
			height: 97vh;
			background-image: none;
		}

		.leftBackground {
			position: absolute;
			width: 100%;
			height: 100%;
			background-image: $leftBg;
			background-size: contain;
			background-position: left;
			background-repeat: no-repeat;
			z-index: 10;

			@media all and (max-width: 1024px) {
				background-image: none;
			}
		}

		.rightImg {
			position: absolute;
			right: 0;
			z-index: 10;
			bottom: 0;
		}
	}
}