@import "../../shared/styles/vars";

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto;
  top: -125px;

  @media all and (min-width: 480px) and (max-width: 1024px) {
    margin-top: 5vw;
    top: -65px;
  }

  @media all and (max-width: 480px) {
    height: 74vh;
    width: 95%;
    top: 0;
  }
}

.table {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  width: 90%;
  border-radius: 300px;
  padding: 2vh 5%;
  background: linear-gradient(180deg, #F5616D 0%, rgba(245, 97, 109, 0.515625) 35.94%, rgba(245, 97, 109, 0.339558) 47.92%, rgba(245, 97, 109, 0) 100%);

  @media all and (max-width: 1024px) {
    height: 85vh;
    border-radius: 85px;
  }

  &__title {
    color: $titlePurple;
    font-size: 2.5vw;
    margin: 1% 0 3%;

    @media all and (min-width: 1024px) and (max-width: 1280px) {
      font-size: 4.5vw;
    }

    @media all and (min-width: 768px) and (max-width: 1024px) {
      font-size: 6.5vw;
    }

    @media all and (max-width: 480px) {
      font-size: 10.5vw;
    }
  }

  @media all and (min-width: 1024px) and (max-width: 1280px) {
    height: 65vh;
    border-radius: 130px;
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
    border-radius: 100px;
    height: 75vw;
  }

  @media all and (max-width: 480px) {
    border-radius: 50px;
    font-size: 10.5vw;
  }
}

.title {
  @include title;
  color: white;
  margin-bottom: 25px;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.slide_block {
  width: 18vw;
  height: 100%;
  display: flex;
  justify-content: center;

  @media all and (min-width: 1024px) and (max-width: 1280px) {
    width: 35vw;
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
    width: 54vw;
    height: 70%;
    margin-top: 0.4% !important;
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
    width: 54vh;
    height: 31vw;
  }

  //@media screen and (min-device-width: 481px) and (orientation:landscape) {
  //  width: 63vh
  //}

  @media all and (max-width: 480px) {
    margin-top: 5vh !important;
    width: 53vh;
    height: 70%;
  }
}

.slide_img {
  width: 65% !important;
  height: 100%;
  cursor: pointer;
}