@import "../../shared/styles/vars";

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  width: 80%;
  margin: auto;
  top: -125px;

  @media all and (min-width: 768px) and (max-width: 1024px) {
    margin-top: 5vw;
  }

  @media all and (max-width: 480px) {
    height: 74vh;
    width: 95%;
    top: 0;
  }
}

.table {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  width: 90%;
  border-radius: 300px;
  padding: 0 5%;
  background: linear-gradient(180deg, #F5616D 0%, rgba(245, 97, 109, 0.515625) 35.94%, rgba(245, 97, 109, 0.339558) 47.92%, rgba(245, 97, 109, 0) 100%);

  &__title {
    color: $titlePurple;
    font-size: 2.5vw;

    @media all and (min-width: 1024px) and (max-width: 1280px) {
      font-size: 4.5vw;
    }

    @media all and (min-width: 768px) and (max-width: 1024px) {
      font-size: 6.5vw;
    }

    @media all and (max-width: 480px) {
      font-size: 10.5vw;
    }
  }

  @media all and (min-width: 1024px) and (max-width: 1280px) {
    height: 65vh;
    border-radius: 130px;
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
    border-radius: 100px;
  }

  @media all and (max-width: 480px) {
    border-radius: 50px;
    font-size: 10.5vw;
  }
}

.title {
  @include title;
  color: white;
  margin-bottom: -22px;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}