@mixin title {
	font-weight: 700;
	font-size: 5.5vw;
	z-index: 1;
	position: relative;
}

$bgColor: #14192B;
$red: #950000;
$green: #02740D;
$blue: #00288E;
$lightPurple: #8c528c;
$darkPurple: #2E0249;
$inputsPurple: rgba(46, 2, 73, 0.3);
$whiteBG: #eeeeee;
$inputsColor: #A91079;
$hoverPurpleLite: rgba(168, 122, 252, 0.4);
$hoverPurpleDark: rgba(111, 67, 191, 0.3);

$downBlockPurpleGradient: linear-gradient(90deg, rgb(168, 122, 252) 0%, rgb(111, 67, 191) 100%);
$activePurpleGradient: linear-gradient(90deg, rgba(168, 122, 252, 0.4) 0%, rgba(111, 67, 191, 0.4) 100%);
