@import '../../styles/vars';

.wrapper {
  padding: 4vw;
  position: relative;
}

.background {
  background-image: url("../../assets/formBlock/bgForm.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 150vh;
  width: 100%;
  padding: 65px 30px;
  position: absolute;
  bottom: 0;

  @media all and (min-width: 768px) and (max-width: 1024px) {
    background-image: none;
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
    background-image: none;
  }
}

.title {
  @include title;
  color: #D6DFEA;

  @media all and (min-width: 768px) and (max-width: 1024px) {
    text-align: center;
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
    text-align: center;
  }
}

.formWrapper {
  width: 41%;
  margin-left: 4vw;
  position: relative;
  margin-top: 6vw;
  z-index: 1;

  @media all and (min-width: 1024px) and (max-width: 1280px) {
    width: 51%;
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
    width: 90%;
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
    background-image: none;
    width: 100%;
    margin: 2vh 0 0;
  }
}

.form {
  background-color: $whiteBG;
  border-radius: 6vw 6vw 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1vw;

  @media all and (min-width: 480px) and (max-width: 768px) {
    height: 55vh;
  }
}

.span {
  color: $darkPurple;
  font-weight: 500;
  font-size: 2vw;
  padding-top: 1vw;

  @media all and (min-width: 768px) and (max-width: 1024px) {
    font-size: 4vw;
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
    font-size: 5vw;
  }
}

.downBlock {
  height: 60px;
  background-color: $lightPurple;
  border-radius: 0 0 80px 80px;
  width: 100%;
  font-size: 2vw;
  padding-top: 1vw;
  position: relative;
}

.downBlock {
  height: 5vw;
  background: $downBlockPurpleGradient;
  border-radius: 0 0 80px 80px;
  width: 100%;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media all and (min-width: 768px) and (max-width: 1024px) {
    height: 10vh;
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
    height: 12vw;
  }

  &__link {
    text-decoration: underline;
    font-weight: 500;
    font-size: 2.5vw;
    color: white;

    @media all and (min-width: 768px) and (max-width: 1024px) {
      font-size: 5vw;
    }

    @media all and (min-width: 480px) and (max-width: 768px) {
      font-size: 4.5vw;
    }
  }
}