@import '../../styles/vars';

.wrapper {
  padding: 35px;
}

.background {
  background-image: url("../../assets/formBlock/bgForm.png");
  background-size: 100% 100%;
  height: 930px;
  padding: 65px 30px;
}

.title {
  @include title;
  color: #D6DFEA;
}

.formWrapper {
  width: 31%;
  height: 480px;
  margin-left: 25px;
  position: relative;
  margin-top: 60px;
}

.form {
  background-color: #eeeeee;
  height: 401px;
  border-radius: 80px 80px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
}

.span {
  color: #2E0249;
  font-weight: 500;
  font-size: 24px;
}

.downBlock{
  position: absolute;
  height: 60px;
  background-color: #8c528c;
  border-radius: 0 0 80px 80px;
  width: 100%;
  bottom: -54px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__link {
    text-decoration: underline;
    font-weight: 500;
    font-size: 18px;
    color: white;
  }
}