@import "../../styles/vars";

.wrapper {
  position: relative;
  width: 80%;
  margin: auto;
  opacity: 1;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;

  //.visible {
  //  opacity: 1;
  //  transform: translateY(0);
  //}
}

.blockTwo {
  padding-top: 50px;
  height: inherit;
  position: relative;

  &>div {
    position: relative;
    width: 100%;

    &:nth-child(2) {
      bottom: 12vw;

      @media all and (max-width: 480px) {
        bottom: 135px;
      }
    }
  }

  @media all and (max-width: 480px) {
    padding-top: 0;
    height: 125vh;
  }
}

.top {
  background-image: var(--dropBg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 44vw;
  width: 100%;
  position: relative;

  @media all and (max-width: 480px) {
    background-image: url("../../assets/block2/mobile/Drop.svg");
    height: 72vh;
  }
}

.titleTop {
  @include title;
  position: absolute;
  padding-left: 3vw;

  @media all and (max-width: 480px) {
    font-size: 7.5vw;
    padding-left: 0;
    width: 100%;
    text-align: center;
  }
}

.bottom {
  background-image: var(--dropBg);
  transform: scale(-1, -1);
  background-size: contain;
  background-repeat: no-repeat;
  height: 44vw;
  width: 100%;
  position: relative;

  @media all and (max-width: 480px) {
    background-image: url("../../assets/block2/mobile/Drop.svg");
    height: 127vw;
  }
}

.titleList {
  position: absolute;
  bottom: 8vw;
  right: 2vw;

  &__item {
    @include title;
    font-size: 4vw;
    position: relative;

    &_first {
      color: $red;

    }

    &_second {
      color: $green;
      left: -7.5vw;

    }

    &_third {
      color: $blue;
      left: -16vw;
    }
  }
}


.titleBottom {
  @include title;
  text-align: end;
  padding-right: 4vw;
  position: absolute;
  bottom: 0;
  right: 0;
}