@import "../../../../styles/vars";

.inputs {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0.2vw;

  @media all and (min-width: 768px) and (max-width: 1024px) {
    margin-bottom: 61px;
  }

  &__item {
    height: 3vw;
    border: none;
    border-bottom: 1px solid $inputsPurple;
    outline: none;
    color: $inputsPurple;
    margin-top: 0.5vw;
    font-size: 1.5vw;
    background-color: transparent;

    @media all and (min-width: 768px) and (max-width: 1024px) {
      height: 9vh;
      font-size: 3.5vw;
    }

    @media all and (min-width: 480px) and (max-width: 768px) {
      height: 10vw;
      font-size: 3.5vw;
    }

    &:focus {
      border-bottom: 1px solid $inputsColor;
      color: $inputsColor;

      &::-webkit-input-placeholder {
        color: $inputsColor;
      }

      &::-webkit-input-placeholder,
      &::-moz-placeholder,
      &::-ms-input-placeholder,
      &::-ms-input-placeholder,
      &::placeholder {
        color: $inputsColor;
      }
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $whiteBG inset !important;
}