.theme {
  position: fixed;
  display: flex;
  z-index: 500;
  height: 96px;
  width: 96px;
  right: 1.5vw;
  bottom: 0;
  transform-origin: 0% 25%;
  cursor: pointer;
  transition: .4s ease-in-out;
  -webkit-filter: drop-shadow(0px 1px 0px white);
  filter: drop-shadow(1px 1px 0px white);

  @media all and (min-width: 480px) and (max-width: 1024px) {
    left: 50%;
    bottom: -7%;
    height: 64px;
    width: 64px;
    position: absolute;
  }

  @media all and (max-width: 480px) {
    left: 46%;
    top: 75%;
    position: absolute;
  }

  &:hover {
    transition: .4s ease-in-out;
    bottom: 1vh;
  }

  &:before {
    opacity: 0;
    content: "D";
    color: white;
    position: absolute;
  }

  &:hover:before {
    opacity: 1;
    transition: all .4s;
    z-index: 1010;
    font-size: 40px;
    bottom: 75%;
    right: 50%;
  }

  .dark,
  .light {
    width: 80%;
    height: 43%;
    position: absolute;
    cursor: pointer;
    z-index: 600;

    @media all and (max-width: 480px) {
      width: 43%;
      height: 24%;
      position: absolute;
    }
  }

  .dark {
    top: -39px;
    left: -17px;
    background: linear-gradient(225deg, #7763E7 0%, #FC686E 100%), linear-gradient(225deg, rgba(217, 217, 217, 0) 50.52%, #D9D9D9 0%);
    border-radius: 0 0 100px 100px;
    transform: rotate(-225deg);

    @media all and (max-width: 480px) {
      left: -7px;
      top: -37px;
    }

    @media all and (min-width: 480px) and (max-width: 1024px) {
      top: -41px;
      left: -14px;
    }
  }

  .light {
    background: linear-gradient(225deg, #67D7D3 0%, #84C5F7 100%), linear-gradient(225deg, rgba(217, 217, 217, 0) 50.52%, #D9D9D9 0%);
    border-radius: 0 0 100px 100px;
    transform: rotate(-45deg);
    z-index: 500;

    @media all and (max-width: 480px) {
      left: 3px;
      top: -12px;
    }

    @media all and (min-width: 480px) and (max-width: 1024px) {
      top: -12px;
      left: -2px;
    }
  }

  .line {
    position: relative;
    width: 2px;
    height: 126px;
    top: -33px;
    left: 0px;
    background-color: white;
    transform: rotate(45deg) translateY(-40px);
    z-index: 1000;

    @media all and (max-width: 480px) {
      height: 74px;
      top: -23px;
      left: -11px;
    }

    @media all and (min-width: 480px) and (max-width: 1024px) {
      height: 86px;
      top: -29px;
      left: -12px;
    }
  }

  &.light_checked {
    transform-origin: 29% 4%;
    transform: rotate(-180deg);
    -webkit-filter: drop-shadow(0px -1px 0px gray);
    filter: drop-shadow(0px -1px 0px gray);

    .line {
      background-color: black;
    }

    &:before {
      content: "L";
      opacity: 0;
      color: black;
    }

    &:hover:before {
      transition: all .4s;
      opacity: 1;
      transform: rotate(180deg);
    }
  }
}