@import "../../styles/vars";

.wrapper {
  height: 1750px;
  padding: 0 35px;
}

.blockTwo {
  padding-top: 50px;
  height: inherit;
  position: relative;
}

.top {
  background-image: url("../../assets/block2/up.png");
  background-size: 100% 80%;
  background-repeat: no-repeat;
  height: 1005px;
  width: 100%;
}

.titleTop {
  @include title;
  text-align: end;
  padding-right: 80px;
  padding-top: 20px;
}

.bottom {
  background-image: url("../../assets/block2/down.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 1005px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.titleList {
  padding: 26% 11% 175px;

  &__item {
    @include title;
    font-size: 70px;

    &_first {
      color: #950000;
      margin-left: 200px;
    }

    &_second {
      color: #02740D;
      margin-left: 110px;
    }

    &_third {
      color: #00288E;
    }
  }
}

.titleBottom {
  @include title;
  text-align: end;
  font-size: 70px;
  padding-right: 100px;
}