@import "../../styles/vars";

.wrapper {
  position: relative;
  width: 80%;
  margin: auto;
}

.blockTwo {
  padding-top: 50px;
  height: inherit;
  position: relative;

  &>div {
    position: relative;
    width: 100%;

    &:nth-child(2) {
      bottom: 12vw;
    }
  }
}

.top {
  background-image: url("../../assets/block2/half-block.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 44vw;
  width: 100%;
  position: relative;
}

.titleTop {
  @include title;
  position: absolute;
  padding-left: 3vw;
}

.bottom {
  background-image: url("../../assets/block2/half-block.svg");
  transform: scale(-1, -1);
  background-size: contain;
  background-repeat: no-repeat;
  height: 44vw;
  width: 100%;
  position: relative;
}

.titleList {
  position: absolute;
  bottom: 8vw;
  right: 2vw;

  &__item {
    @include title;
    font-size: 4vw;
    position: relative;

    &_first {
      color: #950000;

    }

    &_second {
      color: #02740D;
      left: -7.5vw;

    }

    &_third {
      color: #00288E;
      left: -16vw;
    }
  }
}


.titleBottom {
  @include title;
  text-align: end;
  padding-right: 4vw;
  position: absolute;
  bottom: 0;
  right: 0;
}