@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html[data-theme='light'] {
  --mainBg: #D6DFEA;
  --BgImage: none;
  --leftBg: url('./assets/bannerBlock/leftSideLeft.svg');
  --dropBg: url('./assets/block2/dropLight.svg');
}

html[data-theme='dark'] {
  --mainBg: #080A14;
  --BgImage: url('./assets/bannerBlock/background.svg');
  --leftBg: url('./assets/bannerBlock/leftSide.svg');
  --dropBg: url('./assets/block2/drop.svg');
}