@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}

#root {
  position: relative;
  transition: right .5s ease-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
  width: 100vw;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --mainBg: #080A14;
  --mainColor: white;
  --mainHover: #d91717;
  --secondBg: #14192B;
  --secondColor: #D6DFEA;
  --thirdColor: #faf6f2;
  --BgImage: url('../images/bannerBlock/background.svg');
  --leftBg: url('../images/bannerBlock/leftSide.svg');
  --rightBg: url('../images/bannerBlock/rightSide.png');
  --dropBg: url('../images/block2/drop.svg');
  --dropBgMobile: url('../images/block2/mobile/dropMobile.svg');
}

[data-theme='light'] {
  --mainBg: #D6DFEA;
  --mainColor: black;
  --mainHover: #8954ca;
  --secondBg: white;
  --secondColor: #14192B;
  --thirdColor: #14192B;
  --BgImage: url('../images/bannerBlock/backgroundLight.svg');
  --leftBg: url('../images/bannerBlock/leftSideLight.svg');
  --rightBg: url('../images/bannerBlock/rightSideLight.png');
  --dropBg: url('../images/block2/dropLight.svg');
  --dropBgMobile: url('../images/block2/mobile/DropForLight.svg');
}