.slide_block {
  display: flex;
  justify-content: center;

  .slide_img {
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    max-height: 25vh;
    min-width: 33.3%;
    max-width: 100%;

    @media all and (min-width: 1024px) and (max-width: 1280px) {
      max-height: 35vh;
    }
  }
}